dafny
scripts/*.dll*
*.log
dafny.manifest
dafny.manifest.sgx
dafny.sig
enclave-key.pem
scripts/*-py
data/*-py
scripts/venv
data/verified/maxlib-py/__pycache__
**/__pycache__
data/verified
nonenc_lib/maxlib
input
local
client/venv
venv
trash
python.sig
python.manifest.sgx
python.manifest
reports
